@page "/VirusData/Patient/Edit/{id}"
@using WalkingTec.Mvvm.BlazorDemo.ViewModel.VirusData.PatientVMs;
@inherits BasePage

<ValidateForm @ref="vform" Model="@Model" OnValidSubmit="@Submit">
    <Row ItemsPerRow="ItemsPerRow.Two" RowType="RowType.FormRow">

            <BootstrapInput @bind-Value="@Model.Entity.PatientName"  />
            <BootstrapInput @bind-Value="@Model.Entity.IdNumber"  />
            <Select @bind-Value="@Model.Entity.Gender"  PlaceHolder="@WtmBlazor.Localizer["Sys.PleaseSelect"]"/>
            <Select @bind-Value="@Model.Entity.Status"  PlaceHolder="@WtmBlazor.Localizer["Sys.PleaseSelect"]"/>
            <DateTimePicker @bind-Value="@Model.Entity.Birthday"  />
            <Select @bind-Value="@Model.Entity.LocationId" Items="@AllCitys" PlaceHolder="@WtmBlazor.Localizer["Sys.PleaseSelect"]"/>
            <Select @bind-Value="@Model.Entity.HospitalId" Items="@AllHospitals" PlaceHolder="@WtmBlazor.Localizer["Sys.PleaseSelect"]"/>
            <WTUploadImage @bind-Value="@Model.Entity.PhotoId"  />
    <Row ColSpan="2">
            <Transfer @bind-Value="@Model.SelectedVirusesIDs" Items="@AllViruss" />
    </Row>
    </Row>
    <div class="modal-footer table-modal-footer">
        <Button Color="Color.Primary" Icon="fa fa-save" Text="@WtmBlazor.Localizer["Sys.Close"]" OnClick="OnClose" />
        <Button Color="Color.Primary" ButtonType="ButtonType.Submit" Icon="fa fa-save" Text="@WtmBlazor.Localizer["Sys.Edit"]" IsAsync="true" />
    </div>
</ValidateForm>

@code {

    private PatientVM Model = new PatientVM();
    private ValidateForm vform { get; set; }
    [Parameter]
    public string id { get; set; }

    private List<SelectedItem> AllCitys = new List<SelectedItem>();

    private List<SelectedItem> AllHospitals = new List<SelectedItem>();

    private List<SelectedItem> AllViruss = new List<SelectedItem>();


    protected override async Task OnInitializedAsync()
    {

        AllCitys = await WtmBlazor.Api.CallItemsApi("/api/Patient/GetCitys", placeholder: WtmBlazor.Localizer["Sys.PleaseSelect"]);

        AllHospitals = await WtmBlazor.Api.CallItemsApi("/api/Patient/GetHospitals", placeholder: WtmBlazor.Localizer["Sys.PleaseSelect"]);

        AllViruss = await WtmBlazor.Api.CallItemsApi("/api/Patient/GetViruss");

        var rv = await WtmBlazor.Api.CallAPI<PatientVM>($"/api/Patient/{id}");
        Model = rv.Data;
         await base.OnInitializedAsync();
   }

    private async Task Submit(EditContext context)
    {
        await PostsForm(vform, $"/api/Patient/edit", (s) => "Sys.OprationSuccess", method: HttpMethodEnum.PUT);
    }

    public void OnClose()
    {
        CloseDialog();
    }

}
