@page "/BasicData/School/Details/{id}"
@using WalkingTec.Mvvm.BlazorDemo.ViewModel.BasicData.SchoolVMs;
@inherits BasePage

<ValidateForm @ref="vform" Model="@Model" >
    <Row ItemsPerRow="ItemsPerRow.Two" RowType="RowType.FormRow">

            <Display @bind-Value="@Model.Entity.SchoolCode"   ShowLabel="true"/>
            <Display @bind-Value="@Model.Entity.SchoolName"   ShowLabel="true"/>
            <Display @bind-Value="@Model.Entity.SchoolType"   ShowLabel="true"/>
            <Display @bind-Value="@Model.Entity.Remark"   ShowLabel="true"/>
            <WTUploadImage @bind-Value="@Model.Entity.PhotoId"  IsDisabled="true" ShowLabel="true"/>
                <div>
                      <label class="control-label is-display">文件</label>
                      <div><Button Size="Size.Small" Text="@WtmBlazor.Localizer["Sys.Download"]" OnClick="@(async x => await Download($"/api/_file/DownloadFile/{Model.Entity.FileId}",null, HttpMethodEnum.GET))" /></div>
                </div>

    </Row>
    <div class="modal-footer table-modal-footer">
        <Button Color="Color.Primary" Icon="fa fa-save" Text="@WtmBlazor.Localizer["Sys.Close"]" OnClick="OnClose" />
    </div>
</ValidateForm>

@code {

    private SchoolVM Model = new SchoolVM();
    private ValidateForm vform { get; set; }
    [Parameter]
    public string id { get; set; }


    protected override async Task OnInitializedAsync()
    {

        var rv = await WtmBlazor.Api.CallAPI<SchoolVM>($"/api/School/{id}");
        Model = rv.Data;
    }

    public void OnClose()
    {
        CloseDialog();
    }

}
