@page "/WorkFlowDemo"
@using WalkingTec.Mvvm.BlazorDemo.ViewModel.WorkFlowDemoVMs;
@inherits BasePage
@attribute [ActionDescription("流程测试", "WalkingTec.Mvvm.BlazorDemo.Controllers,WorkFlowDemo")]

<WTSearchPanel OnSearch="@DoSearch">
    <ValidateForm Model="@SearchModel">
        <Row ItemsPerRow="ItemsPerRow.Three" RowType="RowType.Inline">

            <BootstrapInput @bind-Value="@SearchModel.Content"  />
        </Row>
    </ValidateForm>
</WTSearchPanel>



<Table @ref="dataTable" TItem="WorkFlowDemo_View" OnQueryAsync="OnSearch" IsPagination="true" IsStriped="true" IsBordered="true" ShowRefresh="false"
       ShowToolbar="true" IsMultipleSelect="true" ShowExtendButtons="true" ShowDefaultButtons="false" ShowExtendEditButton="false" ShowExtendDeleteButton="false" style="margin-top:10px;">
    <TableColumns>

        <TableColumn @bind-Field="@context.Content"  />
    </TableColumns>
    <TableToolbarTemplate>
        @if (IsAccessable("/api/WorkFlowDemo/Add"))
        {
            <TableToolbarButton TItem="WorkFlowDemo_View" Color="Color.Primary" Icon="fa fa-fw fa-plus" Text="@WtmBlazor.Localizer["Sys.Create"]" OnClickCallback="OnCreateClick" />
        }
        @if (IsAccessable("/api/WorkFlowDemo/BatchDelete"))
        {

        <TableToolbarPopConfirmButton TItem="WorkFlowDemo_View" Color="Color.Primary"
                                          Icon="fa fa-fw fa-trash" Text="@WtmBlazor.Localizer["Sys.BatchDelete"]"
                                          OnConfirm="@OnBatchDeleteClick" Content="@WtmBlazor.Localizer["Sys.BatchDeleteConfirm"]" CloseButtonText="@WtmBlazor.Localizer["Sys.Close"]"
                                          ConfirmButtonText="@WtmBlazor.Localizer["Sys.BatchDelete"]" ConfirmButtonColor="Color.Danger" />
            
        }
        
    </TableToolbarTemplate>
    <RowButtonTemplate>
        <div style="padding-right:10px;">
            @if (context.CanApprove.Equals("true"))
            {
                <TableCellButton Size="Size.ExtraSmall" Icon="fa fa-address-book" Color="Color.Warning" Text="审批" OnClick="()=>OnApproveClick(context)" />
            }


            @if (IsAccessable("/api/WorkFlowDemo/{id}"))
            {
                <TableCellButton Size="Size.ExtraSmall" Color="Color.Info" Icon="fa fa-info" Text="@WtmBlazor.Localizer["Sys.Details"]" OnClick="()=>OnDetailsClick(context)" />
            }
            @if (IsAccessable("/api/WorkFlowDemo/BatchDelete"))
            {
                <PopConfirmButton Icon="fa fa-trash" Text="@WtmBlazor.Localizer["Sys.Delete"]" OnConfirm="() => OnDeleteClick(context)" Color="Color.Danger" Size="Size.ExtraSmall"
                                  Content="@WtmBlazor.Localizer["Sys.DeleteConfirm"]" CloseButtonText="@WtmBlazor.Localizer["Sys.Close"]" ConfirmButtonText="@WtmBlazor.Localizer["Sys.Delete"]" ConfirmButtonColor="Color.Danger" />
            }
        </div>
    </RowButtonTemplate>
</Table>

@code{

    private WorkFlowDemoSearcher SearchModel = new WorkFlowDemoSearcher();
    private Table<WorkFlowDemo_View> dataTable;



    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();
    }

    private async Task OnApproveClick(WorkFlowDemo_View item)
    {
        if (await OpenDialog<Approve>(@WtmBlazor.Localizer["Page.审批"], x => x.id == item.ID.ToString() && x.tag == item.Tag, isMax: false) == DialogResult.Yes)
        {
            await dataTable.QueryAsync();
        }
    }

    private async Task<QueryData<WorkFlowDemo_View>> OnSearch(QueryPageOptions opts)
    {
        return await StartSearch<WorkFlowDemo_View>("/api/WorkFlowDemo/Search", SearchModel, opts);
    }

    private void DoSearch()
    {
        dataTable.QueryAsync();
    }

    private async Task OnCreateClick(IEnumerable<WorkFlowDemo_View> items)
    {
        if (await OpenDialog<Create>(WtmBlazor.Localizer["Sys.Create"]) == DialogResult.Yes)
        {
            await dataTable.QueryAsync();
        }
    }

    private async Task OnEditClick(WorkFlowDemo_View item)
    {
        if (await OpenDialog<Edit>(WtmBlazor.Localizer["Sys.Edit"], x => x.id == item.ID.ToString()) == DialogResult.Yes)
        {
            await dataTable.QueryAsync();
        }
    }

    private async Task OnDetailsClick(WorkFlowDemo_View item)
    {
        await OpenDialog<Details>(WtmBlazor.Localizer["Sys.Details"], x => x.id == item.ID.ToString());
    }

    private async Task OnBatchDeleteClick()
    {
        if (dataTable.SelectedRows?.Any() == true)
        {
            await PostsData(dataTable.SelectedRows.Select(x => x.ID).ToList(), $"/api/WorkFlowDemo/batchdelete", (s) => WtmBlazor.Localizer["Sys.BatchDeleteSuccess", s]);
            await dataTable.QueryAsync();
        }
        else
        {
            await WtmBlazor.Toast.Information(WtmBlazor.Localizer["Sys.Info"], WtmBlazor.Localizer["Sys.SelectOneRowMin"]);
        }
    }

    private async Task OnDeleteClick(WorkFlowDemo_View item)
    {
        await PostsData(new List<string> { item.ID.ToString() }, $"/api/WorkFlowDemo/batchdelete", (s) => "Sys.OprationSuccess");
        await dataTable.QueryAsync();
    }


    private async Task OnExportClick(IEnumerable<WorkFlowDemo_View> items)
    {
        if (dataTable.SelectedRows?.Any() == true)
        {
            await Download("/api/WorkFlowDemo/ExportExcelByIds", dataTable.SelectedRows.Select(x => x.ID.ToString()).ToList());
        }
        else
        {
            await Download("/api/WorkFlowDemo/ExportExcel", SearchModel);
        }
    }
    private async Task OnImportClick(IEnumerable<WorkFlowDemo_View> items)
    {
        if (await OpenDialog<Import>(WtmBlazor.Localizer["Sys.Import"]) == DialogResult.Yes)
        {
            await dataTable.QueryAsync();
        }
    }

}
