@page "/FrameworkUser/Create"
@using WalkingTec.Mvvm.Core;
@inherits BasePage

<ValidateForm Model="@Model" OnValidSubmit="@Submit" OnInvalidSubmit="@test">
    <Tab IsBorderCard="true">
        <TabItem Text="@WtmBlazor.Localizer["_Admin.BasicInfo"]">
            <Row ItemsPerRow="ItemsPerRowEnum.Two" RowType="RowTypeEnum.FormRow">
                <BootstrapInput @bind-Value="@Model.ITCode" />
                <BootstrapInput @bind-Value="@Model.Password" />
            </Row>
        </TabItem>
        <TabItem Text="@WtmBlazor.Localizer["_Admin.AdditionInfo"]">
            <Row ItemsPerRow="ItemsPerRowEnum.Two" RowType="RowTypeEnum.FormRow">
                <Select @bind-Value="@Model.Gender" />
                <BootstrapInput @bind-Value="@Model.CellPhone" />
                <BootstrapInput @bind-Value="@Model.HomePhone" />
            </Row>
        </TabItem>
    </Tab>
    <div class="modal-footer table-modal-footer">
        <Button Color="Color.Primary"  Icon="fa fa-save" Text="关闭"  OnClick="OnClose"/>
        <Button Color="Color.Primary" ButtonType="ButtonType.Submit" Icon="fa fa-save" Text="保存" />
    </div>
    <ValidationSummary/>
</ValidateForm>

@code {
    private FrameworkUser Model = new FrameworkUser();

    private async Task Submit(EditContext context)
    {
        await WtmBlazor.Api.CallAPI("/api/_frameworkuser/create", HttpMethodEnum.POST, Model);
    }

    private async Task test(EditContext context)
    {
        int a = 0;
    }

    public void OnClose()
    {
        OnCloseDialog.InvokeAsync();
    }

}
