@page "/FrameworkUser/Create"
@using WalkingTec.Mvvm.Core;
@inject IStringLocalizer localizer;
@inject GlobalItems gi;
@inject ApiClient api
@inject DialogService dialog
@inherits ComponentBase

<ValidateForm Model="@Model" OnValidSubmit="@Submit">
    <Tab IsBorderCard="true">
        <TabItem Text="@localizer["_Admin.BasicInfo"]">
            <Row ItemsPerRow="ItemsPerRowEnum.Two" RowType="RowTypeEnum.FormRow">
                <BootstrapInput @bind-Value="@Model.ITCode" />
                <BootstrapInput @bind-Value="@Model.Password" />
            </Row>
        </TabItem>
        <TabItem Text="@localizer["_Admin.AdditionInfo"]">
            <Row ItemsPerRow="ItemsPerRowEnum.Two" RowType="RowTypeEnum.FormRow">
                <Select @bind-Value="@Model.Gender" />
                <BootstrapInput @bind-Value="@Model.CellPhone" />
                <BootstrapInput @bind-Value="@Model.HomePhone" />
            </Row>
        </TabItem>
    </Tab>
    <div class="modal-footer table-modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            <i class="fa fa-times"></i>
            <span>关闭</span>
        </button>
        <Button Color="Color.Primary" ButtonType="ButtonType.Submit" Icon="fa fa-save" Text="保存" />
    </div>

</ValidateForm>

@code {
    private FrameworkUser Model = new FrameworkUser();

    private async Task Submit(EditContext context)
    {
        await api.CallAPI("/api/_frameworkuser/create", HttpMethodEnum.POST, Model);
    }
    public async Task OnClose(DialogResult result)
    {
    }

}
