@page "/FrameworkUser/Create"
@using WalkingTec.Mvvm.Mvc.Admin.ViewModels.FrameworkUserVms
@inherits BasePage


    <ValidateForm Model="@Model" OnValidSubmit="@Submit">
        <Tab IsBorderCard="true">
            <TabItem Text="@WtmBlazor.Localizer["_Admin.BasicInfo"]">
                <Row ItemsPerRow="ItemsPerRowEnum.Two" RowType="RowTypeEnum.FormRow">
                    <BootstrapInput @bind-Value="@Model.Entity.ITCode" />
                    <BootstrapInput @bind-Value="@Model.Entity.Password" />
                    <BootstrapInput @bind-Value="@Model.Entity.Name" />
                </Row>
                <Row>
                </Row>
                <CheckboxList @bind-Value="@testvalue" Items="@AllRoles" />
                <CheckboxList @bind-Value="Model.SelectedGroupCodes" Items="@AllGroups" />
            </TabItem>
            <TabItem Text="@WtmBlazor.Localizer["_Admin.AdditionInfo"]">
                <Row ItemsPerRow="ItemsPerRowEnum.Two" RowType="RowTypeEnum.FormRow">
                    <Select @bind-Value="@Model.Entity.Gender" />
                </Row>
                <Row ItemsPerRow="ItemsPerRowEnum.Two" RowType="RowTypeEnum.FormRow">
                    <BootstrapInput @bind-Value="@Model.Entity.CellPhone" />
                    <BootstrapInput @bind-Value="@Model.Entity.HomePhone" />
                    <BootstrapInput @bind-Value="@Model.Entity.Email" />
                    <BootstrapInput @bind-Value="@Model.Entity.ZipCode" />
                </Row>
                <Row>
                    <BootstrapInput @bind-Value="@Model.Entity.Address" />
                </Row>
            </TabItem>
        </Tab>
        <div class="modal-footer table-modal-footer">
            <Button Color="Color.Primary" Icon="fa fa-save" Text="关闭" OnClick="OnClose" />
            <Button Color="Color.Primary" ButtonType="ButtonType.Submit" Icon="fa fa-save" Text="保存" />
        </div>
        <ValidationSummary />
    </ValidateForm>

    @code {
        private FrameworkUserVM Model = new FrameworkUserVM() { SelectedRolesCodes = new List<string>() };
        private List<SelectedItem> AllRoles = new List<SelectedItem>();
        private List<SelectedItem> AllGroups = new List<SelectedItem>();
        private string testvalue = "aaa";

        protected override async Task OnInitializedAsync()
        {
            AllRoles = await WtmBlazor.Api.CallItemsApi("/api/_FrameworkUserBase/GetFrameworkRoles");
            AllGroups = await WtmBlazor.Api.CallItemsApi("/api/_FrameworkUserBase/GetFrameworkGroups");
        }

        private async Task Submit(EditContext context)
        {
            var rv = await WtmBlazor.Api.CallAPI("/api/_frameworkuserbase/add", HttpMethodEnum.POST, Model);
            if (rv.StatusCode == System.Net.HttpStatusCode.OK)
            {
                CloseDialog(DialogResult.Yes);
            }
        }

        public void OnClose()
        {
            CloseDialog();
        }

    }
