@page "/FrameworkUser/Index"
@using WalkingTec.Mvvm.Mvc.Admin.ViewModels.FrameworkUserVms;
@inject IStringLocalizer localizer;
@inject GlobalItems gi;
@inject ApiClient api
@inject DialogService dialog


<WtmBlazorControls.WTSearchPanel OnSearch="@DoSearch">
    <ValidateForm Model="@SearchModel">
        <Row ItemsPerRow="ItemsPerRowEnum.Three" RowType="RowTypeEnum.FormInline">
            <Select @bind-Value="@SearchModel.IsValid" Items="@gi.SearcherBoolItems" />
            <BootstrapInput @bind-Value="@SearchModel.ITCode" />
            <BootstrapInput @bind-Value="@SearchModel.Name" />
        </Row>
    </ValidateForm>
</WtmBlazorControls.WTSearchPanel>



<Table @ref="searchTable" TItem="FrameworkUser_View" OnQueryAsync="OnSearch" IsPagination="true" IsStriped="true" IsBordered="true" ShowRefresh="false"
       ShowToolbar="true" IsMultipleSelect="true" ShowExtendButtons="true" ShowDefaultButtons="false" style="margin-top:10px;">
    <TableColumns>
        <TableColumn @bind-Field="@context.ITCode" Width="180" />
        <TableColumn @bind-Field="@context.Name" />
        <TableColumn @bind-Field="@context.Gender" Sortable="true" />
        <TableColumn @bind-Field="@context.CellPhone" />
        <TableColumn @bind-Field="@context.RoleName_view" />
        <TableColumn @bind-Field="@context.GroupName_view" />
        <TableColumn @bind-Field="@context.PhotoId" />
        <TableColumn @bind-Field="@context.IsValid" Items="@gi.SearcherBoolItems" />
    </TableColumns>
    <TableToolbarTemplate>
        <TableToolbarButton TItem="FrameworkUser_View" Color="Color.Primary" Icon="fa fa-fw fa-plus" Text="@localizer["Sys.Create"]"  OnClickCallback="@OnCreateClick"/>
        <TableToolbarButton TItem="FrameworkUser_View" Color="Color.Primary" Icon="fa fa-fw fa-pencil" Text="@localizer["Sys.Edit"]" />
        <TableToolbarButton TItem="FrameworkUser_View" Color="Color.Primary" Icon="fa fa-fw fa-key" Text="@localizer["Login.ChangePassword"]" />
        <TableToolbarButton TItem="FrameworkUser_View" Color="Color.Primary" Icon="fa fa-fw fa-trash-o" Text="@localizer["Sys.Delete"]" />
        <TableToolbarButton TItem="FrameworkUser_View" Color="Color.Primary" Icon="fa fa-fw fa-info" Text="@localizer["Sys.Details"]" />
        <TableToolbarButton TItem="FrameworkUser_View" Color="Color.Primary" Icon="fa fa-fw fa-pencil" Text="@localizer["Sys.BatchEdit"]" />
        <TableToolbarButton TItem="FrameworkUser_View" Color="Color.Primary" Icon="fa fa-fw fa-trash-o" Text="@localizer["Sys.BatchDelete"]" />
        <TableToolbarButton TItem="FrameworkUser_View" Color="Color.Primary" Icon="fa fa-fw fa-upload" Text="@localizer["Sys.Import"]" />
        <TableToolbarButton TItem="FrameworkUser_View" Color="Color.Primary" Icon="fa fa-fw fa-download" Text="@localizer["Sys.Export"]" />
    </TableToolbarTemplate>
    <RowButtonTemplate>
        <div style="padding-right:10px;">
            <TableCellButton Size="Size.ExtraSmall" Color="Color.Success" TItem="FrameworkUser_View" Item="@context" Icon="fa fa-edit" Text="@localizer["Sys.Edit"]" />
            <TableCellButton Size="Size.ExtraSmall" Color="Color.Info" TItem="FrameworkUser_View" Item="@context" Icon="fa fa-info" Text="@localizer["Sys.Details"]" OnClickCallback="@OnDetailsClick" />
            <TableCellButton Size="Size.ExtraSmall" Color="Color.Danger" TItem="FrameworkUser_View" Item="@context" Icon="fa fa-trash-o" Text="@localizer["Sys.Delete"]" />
            <TableCellButton Size="Size.ExtraSmall" Color="Color.Warning" TItem="FrameworkUser_View" Item="@context" Icon="fa fa-key" Text="@localizer["Login.ChangePassword"]" />
        </div>
    </RowButtonTemplate>
</Table>

@code{

    private FrameworkUserSearcher SearchModel = new FrameworkUserSearcher();
    private Table<FrameworkUser_View> searchTable;
    private async Task<QueryData<FrameworkUser_View>> OnSearch(QueryPageOptions opts)
    {
        return await api.CallSearchApi<FrameworkUser_View>("/api/_frameworkuserbase/search", SearchModel, opts);
    }

    private void DoSearch()
    {
        searchTable.QueryAsync();
    }

    private Task OnCreateClick(IEnumerable<FrameworkUser_View> items)
    {
        return dialog.ShowModal<Create>(new ResultDialogOption()
        {
            Title = localizer["Sys.Create"],
            ShowFooter = false
        });
    }


    private Task OnDetailsClick(FrameworkUser_View item)
    {
        return dialog.Show(new DialogOption()
        {
            Title = localizer["Sys.Details"],
            BodyContext = "我是传参",
            BodyTemplate = builder =>
            {
                var index = 0;
                builder.OpenComponent<Details>(index++);
                builder.CloseComponent();
            }
        });
    }
}
