@page "/VirusData/Virus/Edit/{id}"
@using WalkingTec.Mvvm.BlazorDemo.ViewModel.VirusData.VirusVMs;
@inherits BasePage

<ValidateForm @ref="vform" Model="@Model" OnValidSubmit="@Submit">
    <Row ItemsPerRow="ItemsPerRow.Two" RowType="RowType.FormRow">

            <BootstrapInput @bind-Value="@Model.Entity.VirtusName"  />
            <BootstrapInput @bind-Value="@Model.Entity.VirtusCode"  />
            <BootstrapInput @bind-Value="@Model.Entity.Remark"  />
            <Select @bind-Value="@Model.Entity.VirtusType"  PlaceHolder="@WtmBlazor.Localizer["Sys.PleaseSelect"]"/>
    <Row ColSpan="2">
            <Transfer @bind-Value="@Model.SelectedPatientsIDs" Items="@AllPatients" />
    </Row>
    </Row>
    <div class="modal-footer table-modal-footer">
        <Button Color="Color.Primary" Icon="fa fa-save" Text="@WtmBlazor.Localizer["Sys.Close"]" OnClick="OnClose" />
        <Button Color="Color.Primary" ButtonType="ButtonType.Submit" Icon="fa fa-save" Text="@WtmBlazor.Localizer["Sys.Edit"]" IsAsync="true" />
    </div>
</ValidateForm>

@code {

    private VirusVM Model = new VirusVM();
    private ValidateForm vform { get; set; }
    [Parameter]
    public string id { get; set; }

    private List<SelectedItem> AllPatients = new List<SelectedItem>();


    protected override async Task OnInitializedAsync()
    {

        AllPatients = await WtmBlazor.Api.CallItemsApi("/api/Virus/GetPatients");

        var rv = await WtmBlazor.Api.CallAPI<VirusVM>($"/api/Virus/{id}");
        Model = rv.Data;
         await base.OnInitializedAsync();
   }

    private async Task Submit(EditContext context)
    {
        await PostsForm(vform, $"/api/Virus/edit", (s) => "Sys.OprationSuccess", method: HttpMethodEnum.PUT);
    }

    public void OnClose()
    {
        CloseDialog();
    }

}
