@using Microsoft.AspNetCore.Localization
@model WalkingTec.Mvvm.Mvc.CodeGenVM
@{
  Layout = null;
}
@{
  var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>@ViewData["title"]</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/sitecss/wtm.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery.cookie.js"></script>
  <script src="/layui/layui.js"></script>
  <script src="/layui/xm-select.js"></script>
  <script src="/_js/framework_layui.js?time=@DateTime.Now.Ticks"></script>
  <script>
        var DONOTUSE_IGNOREHASH = false;
        var DONOTUSE_COOKIEPRE = '@ViewData["DONOTUSE_COOKIEPRE"]';
        var DONOTUSE_WINDOWGUID = '@Guid.NewGuid().ToString().Replace("-", "")';
  </script>
</head>
<body class="layui-layout-body">
  <div class="layui-layout">
    <div class="layui-body" style="left:0px" id="DONOTUSE_MAINPANEL">
      <div class='donotuse_pdiv'>
        @if (requestCulture.RequestCulture.UICulture.Name.ToLower().Contains("zh"))
        {
          <wt:quote>使用付费版的WtmPlus可以在线维护模型，拖拽控件，更轻松的配置主子表，联动等复杂功能，欢迎使用。  <a href="http://wtm.plus" target="_blank" style="color:blue">点击进入WTMPlus</a></wt:quote>
        }
        else
        {
      <wt:quote>Using the paid version of WtmPlus, you can maintain models online, drag and drop controls, and configure the main and sub-tables, linkage and other complex functions more easily.  <a href="http://wtm.plus" target="_blank" style="color:blue">Click here to go to WTMPlus</a></wt:quote>
        }
        <wt:form vm="@Model" url="/_CodeGen/SetField" old-post="true" label-width="100">
          <wt:hidden field="EntryDir" />
          <wt:hidden field="UI" />
          <wt:combobox field="SelectedModel" items="AllModels" />
          <wt:textbox field="Area" />
          <wt:textbox field="ModuleName" placeholder="@WalkingTec.Mvvm.Core.CoreProgram._localizer?["Codegen.InputModuleName"]" />
          @if (Model.UI == WalkingTec.Mvvm.Core.UIEnum.LayUI)
          {
            <wt:checkbox field="IsApi" padding-text="(@WalkingTec.Mvvm.Core.CoreProgram._localizer?["Codegen.ApiOnly"])" />
          }
          <wt:combobox field="AuthMode" />
          <wt:row align="AlignEnum.Right">
            <wt:submitbutton theme=" ButtonThemeEnum.Warm" text="@WalkingTec.Mvvm.Core.CoreProgram._localizer?["Codegen.Gen"]" />
            <wt:closebutton />
          </wt:row>

        </wt:form>
      </div>
    </div>
  </div>

</body>
</html>
