@model WalkingTec.Mvvm.Mvc.CodeGenVM
@{
Layout = null;
}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>@ViewData["title"]</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/sitecss/wtm.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery.cookie.js"></script>
  <script src="/layui/layui.js"></script>
  <script src="/layui/xm-select.js"></script>
  <script src="/_js/framework_layui.js?time=@DateTime.Now.Ticks"></script>
  <script>
    var DONOTUSE_IGNOREHASH = false;
    var DONOTUSE_COOKIEPRE = '@ViewData["DONOTUSE_COOKIEPRE"]';
    var DONOTUSE_WINDOWGUID = '@Guid.NewGuid().ToString().Replace("-", "")';
  </script>
</head>


<body class="layui-layout-body">
  <div class="layui-layout">
    <div class="layui-body" style="left:0px;position:fixed" id="DONOTUSE_MAINPANEL">
      <div class='donotuse_pdiv'>

        <wt:form vm="@Model" url="/_CodeGen/Gen" label-width="150" class="donotuse_pdiv donotuse_fill" old-post="true">
          <wt:quote>
            @WalkingTec.Mvvm.Core.CoreProgram._localizer["Codegen.Setup"]<br />
          </wt:quote>
          <wt:hidden field="SelectedModel" />
          <wt:hidden field="Area" />
          <wt:hidden field="ModuleName" />
          <wt:hidden field="MainDir" />
          <wt:hidden field="UI" />
          <wt:hidden field="IsApi" />
          <wt:hidden field="AuthMode" />
          <wt:grid vm="FieldList" use-local-data="true" hidden-checkbox="true" hidden-panel="true" />
          <wt:row align="AlignEnum.Right">
            <wt:submitbutton theme=" ButtonThemeEnum.Warm" text="@WalkingTec.Mvvm.Core.CoreProgram._localizer?["Sys.Continue"]" />
            <wt:closebutton />
          </wt:row>
        </wt:form>
      </div>
    </div>
  </div>

</body>

</html>
