@page "/BasicData/Major"
@using WalkingTec.Mvvm.BlazorDemo.ViewModel.BasicData.MajorVMs;
@inherits BasePage
@attribute [ActionDescription("专业管理", "WalkingTec.Mvvm.BlazorDemo.Controllers,Major")]

<WTSearchPanel OnSearch="@DoSearch">
    <ValidateForm Model="@SearchModel">
        <Row ItemsPerRow="ItemsPerRow.Three" RowType="RowType.Inline">

            <BootstrapInput @bind-Value="@SearchModel.MajorCode"  />
            <Select @bind-Value="@SearchModel.SchoolId" Items="@AllSchools" PlaceHolder="@WtmBlazor.Localizer["Sys.All"]"/>
            <MultiSelect @bind-Value="@SearchModel.SelectedStudentMajorsIDs" Items="@AllStudents" PlaceHolder="@WtmBlazor.Localizer["Sys.All"]"/>
        </Row>
    </ValidateForm>
</WTSearchPanel>



<Table @ref="dataTable" TItem="Major_View" OnQueryAsync="OnSearch" IsPagination="true" IsStriped="true" IsBordered="true" ShowRefresh="false"
       ShowToolbar="true" IsMultipleSelect="true" ShowExtendButtons="true" ShowDefaultButtons="false" style="margin-top:10px;">
    <TableColumns>

        <TableColumn @bind-Field="@context.MajorCode"  />
        <TableColumn @bind-Field="@context.MajorName"  />
        <TableColumn @bind-Field="@context.MajorType"  />
        <TableColumn @bind-Field="@context.Remark"  />
        <TableColumn @bind-Field="@context.SchoolName_view"  />
        <TableColumn @bind-Field="@context.Name_view"  />
    </TableColumns>
    <TableToolbarTemplate>
        @if (IsAccessable("/api/Major/add"))
        {
            <TableToolbarButton TItem="Major_View" Color="Color.Primary" Icon="fa fa-fw fa-plus" Text="@WtmBlazor.Localizer["Sys.Create"]" OnClickCallback="OnCreateClick" />
        }
        @if (IsAccessable("/api/Major/BatchDelete"))
        {
            <TableToolbarPopconfirmButton TItem="Major_View" Color="Color.Primary"
                                          Icon="fa fa-fw fa-trash-o" Text="@WtmBlazor.Localizer["Sys.BatchDelete"]"
                                          OnConfirm="@OnBatchDeleteClick" Content="@WtmBlazor.Localizer["Sys.BatchDeleteConfirm"]" CloseButtonText="@WtmBlazor.Localizer["Sys.Close"]"
                                          ConfirmButtonText="@WtmBlazor.Localizer["Sys.BatchDelete"]" ConfirmButtonColor="Color.Danger" />
        }
        
        @if (IsAccessable("/api/Major/Import"))
        {
            <TableToolbarButton TItem="Major_View" Color="Color.Primary" Icon="fa fa-fw fa-upload" Text="@WtmBlazor.Localizer["Sys.Import"]" OnClickCallback="@OnImportClick" />
        }
        @if (IsAccessable("/api/Major/ExportExcel"))
        {
            <TableToolbarButton TItem="Major_View" Color="Color.Primary" Icon="fa fa-fw fa-download" Text="@WtmBlazor.Localizer["Sys.Export"]" OnClickCallback="@OnExportClick" IsAsync="true" />
        }
    </TableToolbarTemplate>
    <RowButtonTemplate>
        <div style="padding-right:10px;">
            @if (IsAccessable("/api/Major/Edit"))
            {
                <TableCellButton Size="Size.ExtraSmall" Color="Color.Success" Icon="fa fa-edit" Text="@WtmBlazor.Localizer["Sys.Edit"]" OnClickCallback="() => OnEditClick(context)" />
            }
            @if (IsAccessable("/api/Major/{id}"))
            {
                <TableCellButton Size="Size.ExtraSmall" Color="Color.Info" Icon="fa fa-info" Text="@WtmBlazor.Localizer["Sys.Details"]" OnClickCallback="()=>OnDetailsClick(context)" />
            }
            @if (IsAccessable("/api/Major/BatchDelete"))
            {
                <PopConfirmButton Icon="fa fa-trash-o" Text="@WtmBlazor.Localizer["Sys.Delete"]" OnConfirm="() => OnDeleteClick(context)" Color="Color.Danger" Size="Size.ExtraSmall"
                                  Content="@WtmBlazor.Localizer["Sys.DeleteConfirm"]" CloseButtonText="@WtmBlazor.Localizer["Sys.Close"]" ConfirmButtonText="@WtmBlazor.Localizer["Sys.Delete"]" ConfirmButtonColor="Color.Danger" />
            }
        </div>
    </RowButtonTemplate>
</Table>

@code{

    private MajorSearcher SearchModel = new MajorSearcher();
    private Table<Major_View> dataTable;

    private List<SelectedItem> AllSchools = new List<SelectedItem>();

    private List<SelectedItem> AllStudents = new List<SelectedItem>();


    protected override async Task OnInitializedAsync()
    {

        AllSchools = await WtmBlazor.Api.CallItemsApi("/api/Major/GetSchools", placeholder: WtmBlazor.Localizer["Sys.All"]);

        AllStudents = await WtmBlazor.Api.CallItemsApi("/api/Major/GetStudents");

        await base.OnInitializedAsync();
    }

    private async Task<QueryData<Major_View>> OnSearch(QueryPageOptions opts)
    {
        return await StartSearch<Major_View>("/api/Major/search", SearchModel, opts);
    }

    private void DoSearch()
    {
        dataTable.QueryAsync();
    }

    private async Task OnCreateClick(IEnumerable<Major_View> items)
    {
        if (await OpenDialog<Create>(WtmBlazor.Localizer["Sys.Create"]) == DialogResult.Yes)
        {
            await dataTable.QueryAsync();
        }
    }

    private async Task OnEditClick(Major_View item)
    {
        if (await OpenDialog<Edit>(WtmBlazor.Localizer["Sys.Edit"], x => x.id == item.ID.ToString()) == DialogResult.Yes)
        {
            await dataTable.QueryAsync();
        }
    }

    private async Task OnDetailsClick(Major_View item)
    {
        await OpenDialog<Details>(WtmBlazor.Localizer["Sys.Details"], x => x.id == item.ID.ToString());
    }

    private async Task OnBatchDeleteClick()
    {
        if (dataTable.SelectedRows?.Any() == true)
        {
            await PostsData(dataTable.SelectedRows.Select(x => x.ID).ToList(), $"/api/Major/batchdelete", (s) => WtmBlazor.Localizer["Sys.BatchDeleteSuccess", s]);
            await dataTable.QueryAsync();
        }
        else
        {
            await WtmBlazor.Toast.Information(WtmBlazor.Localizer["Sys.Info"], WtmBlazor.Localizer["Sys.SelectOneRowMin"]);
        }
    }

    private async Task OnDeleteClick(Major_View item)
    {
        await PostsData(new List<string> { item.ID.ToString() }, $"/api/Major/batchdelete", (s) => "Sys.OprationSuccess");
        await dataTable.QueryAsync();
    }


    private async Task OnExportClick(IEnumerable<Major_View> items)
    {
        if (dataTable.SelectedRows?.Any() == true)
        {
            await Download("/api/Major/ExportExcelByIds", dataTable.SelectedRows.Select(x => x.ID.ToString()).ToList());
        }
        else
        {
            await Download("/api/Major/ExportExcel", SearchModel);
        }
    }
    private async Task OnImportClick(IEnumerable<Major_View> items)
    {
        if (await OpenDialog<Import>(WtmBlazor.Localizer["Sys.Import"]) == DialogResult.Yes)
        {
            await dataTable.QueryAsync();
        }
    }

}
